.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    padding-top: 3%;
    background-image: linear-gradient(100deg, #001214, #001f29);
    color: white;
    transition: 0.3s linear;
    overflow: hidden;
}

.header,
.form {
    margin: 0 1rem;
    min-height: 10vh;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 3rem;
    min-height: 25vh;
    width: 100%;
}

section h1 {
    color: #fff;
    font-size: 4.8rem;
    text-align: center;
}

form {
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    margin: 15px 0;
    padding: 0.8rem;
    width: 100%;
}

form input {
    padding: 10px;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    border: none;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    max-width: 500px;
    /* transition: background-color 200ms ease-in-out; */
    width: 100%;
    background-color: #f2f3f4;
    color: #001214;
}

form input:hover {
    cursor: text;
}

form input::placeholder {
    color: white;
    opacity: 0.7;
}

button {
    border: none;
    transition: box-shadow 200ms ease, background-color 200ms ease-in-out;
    /* background-color: #2c3e50; */
    padding: 5px;
    color: rgb(0, 0, 0);
}

form button {
    padding: 19.30px;
    font-size: 17px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    min-width: 100px;
    background-color: #5dade2;
    color: white;
}

.check-btn,
.delete-btn {
    border: none;
    background-color: transparent;
    transition: box-shadow 200ms ease, color 200ms ease-in-out;
}

.check-btn {
    color: rgb(55, 196, 55);
}

.delete-btn {
    color: tomato;
}

form button:hover {
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    background-color: #f1c40f;
}

.unOrderedList {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
}

.todo-item {
    margin: 2.4rem;
    font-size: 30px;
    color: #1c2833;
    border-radius: 30px;
    transition: background-color 200ms ease-in-out;
    background-color: #f2f3f4;
    min-width: 32rem;
    max-width: 38rem;
    /* padding: 1.6rem 2rem; */
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 0.3fr 0.3fr;
    justify-content: start;
    gap: 1rem;
}

.clear-btn {
    padding: 8px;
    font-size: 1.5rem;
    border-radius: 8px;
    background-color: tomato;
    color: white;
    margin-top: 2rem;
}

.checkList {
    text-decoration: line-through;
}

.notCheckList {
    text-decoration: none;
}