* {
    margin: 0;
    padding: 0;
}

.series-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    gap: 20px;
    padding: 20px;
}

.series-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    transition: transform 0.3s ease-in-out;
}

.series-card:hover {
    transform: translateY(-10px);
    /* Add a slight lift effect on hover */
}

.card-image {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card-content {
    flex-grow: 1;
    /* Allows content to take up available space */
}

.card-content p {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.4;
    margin-bottom: 10px;
}

.card-content p b {
    color: #333;
}

.button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    margin-top: auto;
}


/* Pushes the button to the bottom */

.button a {
    color: #fff;
    text-decoration: none;
}

.button:hover {
    background-color: #b7000d;
}

.hit {
    background-color: lightgreen;
}

.average {
    background-color: yellow;
}

.rating {
    padding: 5px 10px;
    border-radius: 10%;
    color: black;
    font-weight: bold;
}